<header class="header container-fluid border border-success">
    <div class="row">
        <div class="col-sm-6">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/dashboard" >Home</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/network">Network</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/friends" >Friends</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/settings">Settings</button>
                <button class="float-start mx-2" (click)="logout()">Logout</button>
            </div>
        </div>     
    </div>
  </header>


<div class="container">
    <div class="row">
        <div class="col-sm-4 border border-success">
            <div class="row border border-danger">
                <div class="col-sm-12">
                        <div class="userphoto position-relative top-50 start-50 translate-middle">
                            <img src="" alt="not found">
                        </div>
                    </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX CONNECTION</p>
                </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX POSITION</p>
                </div>
            </div>
        </div>

        <div class=" offset-sm-2 col-sm-6 border border-success">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let net of network ">
                    <td>{{net.firstname}}</td>
                    <td><button class="btn btn-primary" (click)="request(net._id)">Request</button></td>
                    <td>Pending</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
  
  