<header class="header container-fluid border border-success">
    <div class="row">
        <div class="col-sm-6">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/dashboard" >Home</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/network">Network</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/friends" >Friends</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/settings">Settings</button>
                <button class="float-start mx-2" (click)="logout()">Logout</button>
            </div>
        </div>     
    </div>
  </header>


<div class="container-fluid">
    <div class="row">
        <div class="  offset-sm-1 col-sm-3 border border-success">
            <div class="row border border-danger">
                <div class="col-sm-12">
                        <div class="userphoto position-relative top-50 start-50 translate-middle">
                            <div *ngIf="imagesubImage">
                                <img [src]="imagesubImage" class="img-fluid img-thumbnail" style="width: 200px; height:140px; border-radius: 50%;" />
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX CONNECTION</p>
                </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX POSITION</p>
                </div>
            </div>
        </div>

        <div class=" offset-sm-1 col-sm-7 border border-success">
            <div class="row">
                <div class="col-sm-6  border border-success">
                    <p style="text-align: center;">Network</p>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let net of network ">
                            <td *ngIf="hideUser!=net.username">{{net.firstname}}</td>
                            <td *ngIf="hideUser!=net.username"><button class="btn btn-primary" (click)="request(net._id)">Request</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                <div class="col-sm-6  border border-success ">
                    <p  style="text-align: center;">Friend Request Sent</p>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let nets of requestlists ">
                            <td *ngIf="nets.stat!='request accepted'">{{nets.img.firstname}}</td>
                            <td *ngIf="nets.stat!='request accepted'"><button class="btn btn-primary" (click)="acceptRequest(nets._id)">Request</button></td>
                            <td *ngIf="nets.stat =='request accepted'">Not Friend Request</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
  
  