<header class="header container-fluid border border-success">
    <div class="row">
        <div class="col-sm-6">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/header" >Home</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/">Network</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/header" >Friends</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/">Settings</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/">Logout</button>
            </div>
        </div>     
    </div>
  </header>


<div class="container my-5">
    <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Profile Settings</th>
            <th>Change Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>New Password</td>
            <td><input type="password"></td>
          </tr>
          <tr>
            <td>Confirm Password</td>
            <td><input type="password"></td>
          </tr>
          <tr>
            <td>SAVE</td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
  
  
