<header class="header container-fluid border border-success">
    <div class="row">
        <div class="col-sm-6">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/dashboard" >Home</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/network">Network</button>
                <button *ngIf="role=='admin'" class="float-start mx-2" routerLinkActive="active" routerLink="/userk">User</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/friends" >Friends</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/setting">Settings</button>
                <button class="float-start mx-2" (click)="logout()">Logout</button>
            </div>
        </div>     
    </div>
  </header>


<div class="container">
    <div class="row">
        <div class="  offset-sm-1 col-sm-3 border border-success">
            <div class="row border border-danger">
                <div class="col-sm-12">
                        <div class="userphoto position-relative top-50 start-50 translate-middle">
                            <div *ngIf="imagesubImage">
                                <img [src]="imagesubImage" class="img-fluid img-thumbnail" style="width: 200px; height:140px; border-radius: 50%;" />
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX CONNECTION</p>
                </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX POSITION</p>
                </div>
            </div>
        </div>

        <div class=" offset-sm-2 col-sm-6 border border-success">
            <p  style="text-align: center;">Friend</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Details</th>
                    <th scope="col">Information</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nets of filterFriendlist ">
                    <td><img src="{{nets.img.image}}" alt="image not found" *ngIf="nets.img.image!=''" class="img-fluid img-thumbnail" style="width:100px; border-radius: 40%; height:70px;" alt=""></td>
                    <td><div>{{nets.img.lastname}}</div><span>{{nets.img.firstname}}</span></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
  
  
