<header class="header container-fluid border border-success">
    <div class="row">
        <div class="col-sm-6">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/header" >Home</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/">Network</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/header" >Friends</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/">Settings</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/">Logout</button>
            </div>
        </div>     
    </div>
  </header>


<div class="container">
    <div class="row">
        <div class="col-sm-4 border border-success">
            <div class="row border border-danger">
                <div class="col-sm-12">
                        <div class="userphoto position-relative top-50 start-50 translate-middle">
                            <img src="" alt="not found">
                        </div>
                    </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX CONNECTION</p>
                </div>
            </div>
            <div class="row border border-danger">
                <div class="col-sm-12">
                    <p>XXX POSITION</p>
                </div>
            </div>
        </div>

        <div class=" offset-sm-2 col-sm-6 border border-success">
           <div class="border border-success my-3">
                 <p>Hi here</p>
           </div>
            <div class="border border-success my-3">
                 <p>Hi here</p>
           </div>
            <div class="border border-success my-3">
                 <p>Hi here</p>
           </div>
        </div>
    </div>
</div>
  
  
