<header class="header container-fluid border border-success">
    <div class="row">
        <div class="col-sm-6">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/dashboard" >Home</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/network">Network</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/friends" >Friends</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/settings">Settings</button>
                <button class="float-start mx-2" (click)="logout()">Logout</button>
            </div>
        </div>     
    </div>
  </header>





<div class="container">
  <form [formGroup]="myReactiveForm" (ngSubmit)="editSetting()">
  <div class="card">
      <div class="card-header bg-success text-white">
          <h3>Settings</h3>
      </div>
      <div class="card-body">
         <div class="form-group">
          <label for="sName" class="form-label" style="color:black">First Name</label>
          <input type="text" 
                 class="form-control" 
                 formControlName="rsFirstName"
                 id="sName"
                 >
                 <div class="text-danger" *ngIf="myReactiveForm.get('rsFirstName')?.errors?.['required']  ">
                  FirstName is required!
                 </div>
        </div>

        <div class="form-group">
          <label for="sLastName" class="form-label" style="color:black">Last Name</label>
          <input type="text" 
                 class="form-control" 
                 formControlName="rsLastName"
                 id="sLastName"
                 >
                 <div class="text-danger" *ngIf="myReactiveForm.get('rsLastName')?.errors?.['required']  ">
                  LastName is required!
                 </div>
        </div>


        <div class="form-group">
          <label for="sUserName" class="form-label" style="color:black">UserName</label>
          <input type="text" 
                 class="form-control" 
                 formControlName="rsUserName"
                 id="sUserName"
                 >
                 <div class="text-danger" *ngIf="myReactiveForm.get('rsUserName')?.errors?.['required']  ">
                  Username is required!
                 </div>
        </div>

        <div class="form-group">
          <label for="sEmail" class="form-label" style="color:black">Email</label>
          <input type="email" 
                 class="form-control" 
                 formControlName="rsEmail"
                 id="sEmail"
                 >
                 <div class="text-danger" *ngIf="myReactiveForm.get('rsEmail')?.errors?.['required']  ">
                  Email is required!
                 </div>
                 
        </div>


        <div style="margin-bottom: 50px;">

        </div>
        
            <div class="card-footer">
          <button type="submit" class="btn btn-success">Edit Student</button>
            </div>
      
      
  </div>

  <div class="container">
    <form [formGroup]="resetForm" (ngSubmit)="resetPasswordForm()" appCheckPassword class="border border-primary mt-2 py-2 px-2">
    <div class="card">
      <div class="card-header bg-success text-black">
        <h3>Change Password</h3>
    </div>
      <h2 class="text-center my-2">Reset Password</h2>
      <div class="form-group my-3">
          <label for="password">New Password</label>
          <input type="password" formControlName="password" class="form-control">
          <div class="text-danger" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched"> Password must be at last 4 characters</div>
      </div>
  
      <div class="form-group my-3">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="confirmpassword" formControlName="confirmpassword" class="form-control">    
          <div *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)" class="text-danger">
              Please confirm your password.
          </div>
          <div *ngIf="resetForm.errors?.['passwordCheck'] || (resetForm.get('confirm')?.invalid && resetForm.get('confirm')?.touched)"
              class="text-danger">
              Passwords do not match.
          </div>
      </div>
  
          <div style="margin-bottom: 30px;">
  
          </div>
          
              <div class="card-footer">
                <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">RESET
                </button>
              </div>
        
        
    </div>
     
    </form>
      </div>
  
  
