<header class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-6">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/register" >REGISTER</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/login">LOGIN</button>
            </div>
        </div>  
       
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class=" offset-md-4 col-sm-5 ">
                <form  [formGroup]="resetForm" (ngSubmit)="resetPasswordForm()" appCheckPassword class="border border-primary mt-2 py-2 px-2">
                    <h2 class="text-center my-2">Reset Password</h2>
                    <div class="form-group my-3">
                        <label for="password">New Password</label>
                        <input type="password" formControlName="password" class="form-control">
                        <div class="text-danger" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched"> Password must be at last 4 characters</div>
                    </div>

                    <div class="form-group my-3">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="confirmpassword" formControlName="confirmpassword" class="form-control">    
                        <div *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)" class="text-danger">
                            Please confirm your password.
                        </div>
                        <div *ngIf="resetForm.errors?.['passwordCheck'] || (resetForm.get('confirm')?.invalid && resetForm.get('confirm')?.touched)"
                            class="text-danger">
                            Passwords do not match.
                        </div>
                    </div>
    
    
    
                    <div class="form-group my-4">
                        <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">RESET
                        </button>
                    </div>
                </form>



            </div>
        </div>
    </div>
    
    
    </header>
    
