<header class="header container-fluid shadow">
    <div class="row">
        <div class="col-sm-5">
            <div class="float-start">FBOOK</div>
        </div>
        <div class="col-sm-1" style="width: 200px; text-align: right;"> Welcome {{user[0].lastname}}</div>
        <div class="col-sm-5">
            <div class="float-end">
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/dashboard" >Home</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/network">Network</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/friends" >Friends</button>
                <button class="float-start mx-2" routerLinkActive="active" routerLink="/setting">Setting</button>
                <button class="float-start mx-2" (click)="logout()" >Logout</button>
            </div>
        </div>     
    </div>
  </header>


<div class="container">
    <div class="row">
        <div class=" shadow col-sm-4 ">
            <div class="row border border-white">
                <div class="col-sm-12">
                        <div class="userphoto position-relative top-50 start-50 translate-middle">
                            <div *ngIf="imagesubImage">
                                <img [src]="imagesubImage" [alt]="form.value.name" class="img-fluid img-thumbnail" style="width: 200px; height:140px; border-radius: 50%;" />
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row border border-white">
                <div class="col-sm-12">
                    <p>XXX CONNETION</p>
                </div> 
            </div>
            <div class="row border border-white">
                <div class="col-sm-12">
                    <p>XXX POSITION</p>
                </div>
            </div>
          
            <div>
                <input type="file" (change)="onFileSelected($event)">
                <button (click)="onUpload()">Upload</button>
              </div>
        </div>

        <div class=" offset-sm-2 col-sm-6 border border-white">
            <form action="" (submit)="postUpload()" >
                <div class="row">

                    <div class=" col-sm-10 form-group">
                        <input type="file" class="form-control" (change)="onFileSelected($event)" placeholder="Write new Post/Upload pic">
                    </div>
    
                    <button type="submit"  class="col-sm-2  btn btn-primary">Post</button>
                </div>
            </form>
            <div class="row ">
                <div class="col-sm-12">
                  <div class="filltext">
                    <div *ngFor="let imgpost of postfromfriendfilter"  style="margin-bottom: 10px;">
                        <img src="{{imgpost.img.imagePost}}" *ngIf="imgpost.img.imagePost!=''" style="width:100%; height:300px;" alt="">
                    </div>
                    <!-- Send post -->
                    <!-- FriendPost -->
                    <div *ngFor="let imgpost of postfromfriendfilter">
                        <img src="{{imgpost.img.imagePost}}" *ngIf="imgpost.img.imagePost!=''" style="width:100%; height:300px;" alt="">
                    </div>
                  </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
  
  